<div class="show_product container"> 
  <h2>First Name:</h2><h1><%= @student.stud_first_name %></h1>
  <h2>last name:</h2><h1><%= @student.stud_last_name %></h1>
  <h2>Date of birth</h2><h1><%= @student.stud_dob %></h1>
  <h2>Department</h2><h1><%= @student.department %></h1>
</div>