<div class="show_product container"> 
  <h2>Customer First Name:</h2><h1><%= @customer.fname %></h1>
  <h2>Customer Last Name:</h2><h1><%= @customer.lname %></h1>
  <h2>Customer Email:</h2><h1><%= @customer.email %></h1>
  <h2>Customer Phone:</h2><h1><%= @customer.phone %></h1> 
</div>
