<div class="show_product container"> 
  <h2>Order quantity:</h2><h1><%= @customer.quantity %></h1>
  <h2>Order total_price:</h2><h1><%= @customer.total_price %></h1>
  <h2>Order status:</h2><h1><%= @customer.status %></h1>
</div>
