<div class="show_product container"> 
    <h2>book Name:</h2><h1><%= @book.book_name %></h1>
    <h2>book Description:</h2><h1><%= @book.book_name %></h1>
    <h2>Author id</h2><h1><%= @book.author_id %></h1>
</div>
  