
.nav-padding{
  padding: 1%;
}
.mybrand > img {
   width:50px;
  height: 50px;
}

.navbar-brand{ 
  font-size: 24px !important;
  padding: 5px !important;
}

.header{
  background-color: white !important;
}
.navbar-nav{
  margin-left: 10%;
  margin-right: 10%;
}
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}
  
.nav-item>a{
  font-size: 18px !important ;
  padding: 10px;
  color: black;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
   
}
.simform{
  background-color: aliceblue;
  font-size: 26px;
  text-align: center;
  margin-top: 10%;
  margin-bottom:10%;
}
.products_title{
  text-align: center;
  margin-top: 10px;
}
.our_products{
  margin: 3%;
  padding: 2%;
  background-color: white;
}
.add{
  margin-top: 2%;
  text-align: center;
  }

.show_product{
  margin-top: 10px;
}
.show_product>h1{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 500;
    
}
.show_product>h2{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;  
}
.product_edit{
  margin-top:20px;
  display: flex;
  justify-content: center;
}
.product_edit>form{
  width: fit-content;
}
.product_edit>form>h1{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}
.create_form{
  display: flex;
  justify-content: center;
}

.create_form>form{
  width: fit-content;
}
.create_form >form>h2 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;

}
.add_text{
  margin: 15px;
  text-align: center;
}

.valid-errors{
  text-align: center;
}

.table_header_emp{
  background: linear-gradient(to right, #232526, #414345);  
  font-weight: 600;
  color: whitesmoke;
 
}

.Employee_table {
  margin-bottom: 0px;
}

.table_header_emp >tr>th {
  padding: 1%;
  text-align: center;
}

.our_employees{
  margin: 2% 0 2% 0;
  padding: 2%;

}

.employee_data{
  text-align: center;
  background: linear-gradient(to right, #8e9eab, #606c88);
  color: whitesmoke;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;

}

.employee_data >p{
  width: fit-content;
  margin: auto;
}

.employee_add{
  display: flex;
  justify-content: center;
  width: fit-content;
  background: #bfd1db;
  padding: 1.5%;
  border-radius: 50px;
}

.form-item> h2 {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.form-item> p{
  width: 100%;
}

.form-item>p>input{
  width: 100%;
}

.field_with_errors>input{
  width: 100%;
}

.submit_button{
  font-size: 18px;
  text-align: center;
  margin-top: 5%;
}

.button_order, .add_emp{
 display: flex;
 padding: 1%;
 
}

.check_mail{
  text-align: center;
}

.check_mail>form{
  margin: 10px;
}

.button_order> p{
  padding: 1%;
}

.add_emp>p{
  padding:  1%;
}

.Result_title{
  text-align: center;
}

.searchbutton{
  text-align: center;
  padding: 20px;
}

.myflex{
  display: flex;
}
.myflex> .add{
  width: 100%;
}
